html, body {
    height: 100%;
}

body.auth {
    font-family: "Helvetica Neue";
    background-image: linear-gradient(to bottom,#444444,#222222 );
    background-color: #444444;
}

.login .title{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 100;
}

.login .logo{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.login .panel{
    margin: 0 auto;
    max-width: 440px;
    border:none;
}

.login .panel .panel-body{
    padding: 40px;
}

.login .panel .panel-body .btn{
    margin-top: 20px;
}

.login .panel .panel-footer{
    text-align: center;
}