<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hours</title>

    <!-- Bootstrap -->
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/dist/html5shiv.js"></script>
    <script src="lib/respond/dest/respond.min.js"></script>
    <![endif]-->

    <script src="lib/angular/angular.js"></script>

    <script>
        var app = angular.module("app", []);
        app.controller("loginCtrl", function ($scope, $location) {

            console.log($location.search());
            if ($location.search().error) {
                $scope.error = 'There was a problem with your login.'
            }
        });
    </script>

</head>
<body class="auth" ng-app="app">

<div class="container" ng-controller="loginCtrl">

    <div class="login">
        <div class="logo">
            <img width="200px" src="/img/logo.png" alt="Logo"/>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <h1 class="title">Login in to your Account</h1>
                <form action="/auth/login" method="post">

                    <div ng-if="error" id="errorMessage" class="alert alert-danger" role="alert">{{error}}</div>

                    <div class="form-group">
                        <input type="text" class="form-control input-lg" id="username" name="username"
                               placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-lg" id="password" name="password"
                               placeholder="Password">
                    </div>

                    <input type="submit" class="btn btn-block btn-lg btn-primary" value="Login" />

                </form>

                <a href="index.html" class="btn btn-block btn-lg btn-default">Back</a>

            </div>
            <div class="panel-footer">Download the app.</div>

        </div>
    </div>
</body>

</html>