<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Hours</title>

    <!-- Bootstrap -->
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/dist/html5shiv.js"></script>
    <script src="lib/respond/dest/respond.min.js"></script>
    <![endif]-->

    <script src="lib/angular/angular.js"></script>

    <script>
        var app = angular.module("app", []);
        app.controller("loginCtrl", function ($scope, $http, $window) {

            $scope.submit = function () {

                var error = null

                if ($scope.data.password != $scope.data.repassword)
                    error = "Passwords are not equal";

                if (!error) {
                    $http.post('/api/subscribe', $scope.data).then(function(){
                        $window.location.href = 'index.html';
                    }, function(res){
                        $scope.error = res.data;
                    })
                } else {
                    $scope.error = error;
                }
            };

            $scope.back = function () {
                $window.location.href = 'index.html';
            }
        });
    </script>

</head>
<body class="auth" ng-app="app">

<div class="container" ng-controller="loginCtrl">

    <div class="login">
        <div class="logo">
            <img width="200px" src="/img/logo.png" alt="Logo"/>
        </div>


        <div class="panel panel-default">
            <div class="panel-body">

                <form ng-submit="submit()">

                    <div class="form-group">
                        <label for="email">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required
                               ng-model="data.name">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                               required ng-model="data.email">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                               required ng-model="data.password">
                    </div>

                    <div class="form-group">
                        <label for="re-password">Re-Password</label>
                        <input type="password" class="form-control" id="re-password" name="re-password"
                               placeholder="Re-Password" required="" ng-model="data.repassword">
                    </div>

                    <div ng-if="error" id="errorMessage" class="alert alert-danger" role="alert">{{error}}</div>


                    <input type="submit" class="btn btn-lg btn-block btn-primary" value="SignUp"/>

                </form>

                <button class="btn btn-lg btn-block btn-default" ng-click="back()">Back</button>

            </div>
        </div>
    </div>
</div>


<script>

</script>
</body>
</html>
